:root {
    --toggle-height: round(nearest, 1.25rem, 2px);
    --toggle-padding: max(round(nearest, 0.125rem, 2px), 2px);
    --toggle-width: calc(var(--toggle-height) * 2.2);
}

.toggle {
    width: var(--toggle-width);
    height: var(--toggle-height);
    padding: var(--toggle-padding);
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: #a3a3a3;
    border-radius: var(--toggle-width);
    border: 0;
    outline: 0;
    cursor: pointer;

    &:focus-visible {
        outline: 1px solid var(--text-primary);
    }
    
    &:hover {
        background-color: color-mix(in srgb, var(--main-color), transparent 20%);
    }
    
    &.intermediate {
        background-color: color-mix(in srgb, var(--main-color), transparent 50%);
        justify-content: center;
    }
    
    &.on:not(.intermediate) {
        background-color: var(--main-color);
        justify-content: end;
    }
    
    &:disabled {
        cursor: default;
        background-color: var(--disabled-color) !important;

        & > .ball {
            background-color: #ececec;
        }
    }
}

.ball {
    height: calc(var(--toggle-height) - (var(--toggle-padding) * 2));
    aspect-ratio: 1 / 1;

    display: block;

    background-color: white;
    border-radius: 50%;
}