@use '../../../styles/mixins.scss' as m;

.range-input-wrapper {
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
}

.input-wrapper {
    width: 100%;
    height: 25px;

    display: inline-flex;
    align-items: center;

    position: relative;
}

input.range-input {
    width: calc(100% + 1.5em);
    height: 0.5em;
    margin: 0.5em -0.75em;
    box-sizing: border-box;

    display: block;
    border-radius: 0.25em;
    accent-color: var(--main-color);
    cursor: pointer;

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
        cursor: pointer;
        @include m.disableable;
    }

    @include m.disableable;
}

span.limit {
    font-size: 0.875rem;
}

span.tooltip {
    @include m.item-box;

    padding: 4px 8px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    cursor: pointer;
    font-size: 0.75rem;
    border-radius: 6px;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    pointer-events: none;

    @include m.disableable;
}