@use '../../../styles/mixins.scss' as m;

.guid-label {
    @include m.display-label;

    &.mast {
        background-color: green;
    }

    &.station {
        background-color: blue;
    }

    &.undefined {
        background-color: gray;
    }
}