.guid-label {
    width: fit-content;

    box-sizing: border-box;
    padding: 2px 4px;

    border-radius: 6px;
    font-size: 0.75rem;
    color: white;
    cursor: pointer;

    &.mast {
        background-color: green;
    }

    &.station {
        background-color: blue;
    }

    &.undefined {
        background-color: gray;
    }
}