html {
    font-size: var(--font-regular);
    font-family: 'Roboto', serif;
}

body {
    padding: 0;
    margin: 0;
}

body,
dialog {
    color: var(--text-primary);
}

button,
input,
select,
textarea,
option {
    font-size: var(--font-input);
}

h1,
h2,
h3,
ol,
ul {
    margin: 0;
}

h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

a.link-reset {
    text-decoration: none;
    color: inherit;
}

span.no-wrap {
    white-space: nowrap;
}