@mixin window {
    border-radius: var(--window-padding);
    background-color: var(--menu-background-color);
    box-shadow: 4px 4px 6px 0 color-mix(in srgb, var(--menu-background-color), transparent 60%);
    outline: 1px solid var(--outline-window-color);
    overflow: hidden;
}

@mixin item-box {
    box-sizing: border-box;
    padding: var(--box-padding);
    
    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: var(--box-padding);
    border: 1px solid var(--outline-color);
}

@mixin no-autofill {
    :-webkit-autofill,
    :-webkit-autofill:hover,
    :-webkit-autofill:focus { 
        -webkit-box-shadow: 0 0 0 1000px inherit inset;
        -webkit-text-fill-color: var(--text-primary);
        caret-color: var(--text-primary);
        transition: background-color 0s 50000s;
    }
}

@mixin input {
    @include no-autofill();
    
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    
    border: 0;
    outline: 0;
    border-radius: 12px;
    background-color: var(--input-background);
    color: var(--text-primary);
    
    &:focus-visible {
        outline: 1px solid var(--outline-color);
    }
    
    &:hover {
        background-color: color-mix(in srgb, var(--input-background), transparent 30%);
    }
    @include disableable();
}

@mixin empty-input {
    @include no-autofill();

    border: 0;
    outline: 0;
    background-color: transparent;
    color: var(--text-primary);
}

@mixin display-label {
    width: fit-content;

    box-sizing: border-box;
    padding: 2px 4px;

    border-radius: 6px;
    font-size: 0.75rem;
    color: white;
    cursor: pointer;

    &.big {
        font-size: 1rem;
        padding: 3px 6px;
        border-radius: 6px;
    }
}

@mixin colored-block {
    width: 100%;
    box-sizing: border-box;
    padding: 0.3rem;

    display: flex;
    align-items: center;

    border-radius: 0.25rem;
}

@mixin warning-block {
    @include colored-block();
    background-color: color-mix(in srgb, var(--warning-color), transparent 80%);
    color: var(--warning-color);
}

@mixin error-block {
    @include colored-block();
    background-color: color-mix(in srgb, var(--danger-color), transparent 80%);
    color: var(--danger-color);
}

@mixin disableable {
    &:disabled,
    &:disabled:hover {
        background-color: color-mix(in srgb, var(--disabled-color), transparent 50%);
        color: var(--disabled-color);
        cursor: default;
    }

    &.disabled,
    &.disabled:hover {
        background-color: var(--disabled-color);
        color: white;
        cursor: default;
    }
}