form.base-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.inputs-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons-box {
    display: flex;
    gap: 12px;

    & > button {
        width: 100%;
    }
}