.header {
    width: 100%;
    height: 80px;

    top: 0;
    position: sticky;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--header-background-color);
    z-index: 99;
}

.content {
    width: 100%;
    max-width: var(--page-content-width);
    box-sizing: border-box;
    padding: 0 20px;
}

a.header-item {
    height: 80px;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    font-weight: 600;

    &:hover {
        color: color-mix(in srgb, var(--main-color), transparent 20%);
        border-bottom: 2px solid color-mix(in srgb, var(--main-color), transparent 20%);
        border-top: 2px solid transparent;
    }
    
    &.current {
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        border-top: 2px solid transparent;
        cursor: default;
    }
}