@use '../../../styles/mixins.scss' as m;

.info-box {
    @include m.window;
    box-sizing: border-box;
    padding: 12px;

    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.header {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
}