@use '../../../../styles/mixins.scss' as m;

.menu-wrapper {
    display: flex;
    align-items: center;
    column-gap: 8px;

    position: absolute;
    top: var(--complex-page-padding);
    bottom: var(--complex-page-padding);
    left: var(--complex-page-padding);
    pointer-events: none;
    z-index: 8;
}

.sections-box {
    @include m.window;

    box-sizing: border-box;

    display: inline-flex;
    flex-direction: column;
    pointer-events: auto;
    overflow: visible;
}

button.section {
    box-sizing: border-box;
    padding: var(--window-padding);

    display: inline-flex;
    align-items: center;
    
    background-color: var(--menu-background-color);
    border: 0;
    outline: 0;
    overflow: hidden;
    cursor: pointer;

    &:first-child {
        border-top-left-radius: var(--window-padding);
        border-top-right-radius: var(--window-padding);
    }

    &:last-child {
        border-bottom-left-radius: var(--window-padding);
        border-bottom-right-radius: var(--window-padding);
    }

    &:not(:last-child) {
        border-bottom: 1px solid gray;
    }

    &:focus-visible {
        outline: 1px solid var(--outline-color);
    }

    &:hover {
        background-color: var(--menu-background-color-hover);
    }

    &.current {
        background-color: var(--menu-background-color-hover);
    }

    &:disabled {
        background-color: color-mix(in srgb, var(--disabled-color), transparent 90%);
        color: var(--disabled-color);
        cursor: default;
    }
}

.settings-menu {
    @include m.window;

    min-width: 200px;
    max-width: max-content;
    max-height: calc(100% - 2 * var(--complex-page-padding));
    padding: var(--window-padding);

    display: inline-flex;
    flex-direction: column;
    row-gap: 12px;

    resize: horizontal;
    pointer-events: auto;
}

.menu-content {
    min-width: 100%;
    padding: 0.0625rem;

    display: inline-flex;
    flex-direction: column;
    row-gap: 16px;
    overflow: auto;
}