@use '../../../styles/mixins.scss' as m;

.button {
    @include m.input;
    cursor: pointer;

    &.tertiary {
        background-color: var(--menu-background-color);
    
        &:hover {
            background-color: var(--menu-background-color-hover);
        }
    }

    &.secondary {
        background-color: var(--input-background);
    
        &:hover {
            background-color: color-mix(in srgb, var(--input-background), transparent 30%);
        }
    }

    &.primary {
        background-color: var(--main-color);
        color: white;

        &:hover {
            background-color: color-mix(in srgb, var(--main-color), transparent 20%);
        }
    }

    &.danger {
        background-color: var(--danger-color);
        color: white;

        &:hover {
            background-color: color-mix(in srgb, var(--danger-color), transparent 20%);
        }
    }

    @include m.disableable;
}