@use '../../../styles/mixins.scss' as m;

.toast-wrapper {
    width: fit-content;
    background: transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
    min-height: auto !important;
}

.toast {
    @include m.item-box;

    display: flex;
    flex-direction: column;

    &.error {
        color: white;
        background-color: color-mix(in srgb, var(--danger-color), transparent 50%);
    }
}