:root {
    --auth-page-logo-size: 4rem;
}

.main {
    min-height: 37.5rem;
    flex: 1;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.app-description {
        row-gap: 1rem;
    }
    &.forms {
        row-gap: 32px;
    }
    & > * {
        width: 100%;
    }
}

img.logo {
    width: var(--auth-page-logo-size);
    height: var(--auth-page-logo-size);
}

.title,
.description {
    text-align: center;
    margin: 0;
}