@use '../../../styles/mixins.scss' as m;

button.icon-button {
    width: min-content;
    height: min-content;
    padding: 6px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 8px;
    border: 0;
    outline: 0;
    cursor: pointer;

    &:focus-visible {
        outline: 1px solid var(--outline-color);
    }

    &.default {
        background: transparent;

        &:hover {
            background-color: color-mix(in srgb, var(--icon-default-color), transparent 80%);
        }
    }

    &.primary {
        background-color: var(--main-color);

        &:hover {
            background-color: color-mix(in srgb, var(--main-color), transparent 20%);
        }
    }

    @include m.disableable;
}