:root {
    --tabs-menu-height: 40px;
}

.tabs-menu {
    display: flex;
}

.tab-item {
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    background-color: var(--tab-background-color);
    border-bottom: 1px solid var(--text-primary);
    cursor: pointer;

    &:hover:not(.current):not(.disabled) {
        background-color: var(--tab-background-hover-color);
    }

    &.current {
        background-color: var(--tab-background-current-color);
        border-bottom: 2px solid var(--text-primary);
        cursor: default;
    }

    &:first-child {
        border-top-left-radius: calc(var(--tabs-menu-height) * 0.2);
    }

    &:last-child {
        border-top-right-radius: calc(var(--tabs-menu-height) * 0.2);
    }

    &.disabled {
        color: gray;
        cursor: default;
        opacity: 80%;
    }
}