@use '../../../styles/mixins.scss' as m;

.timestamp-label {
    @include m.display-label;
    font-family: monospace;

    &.deleted {
        background-color: color-mix(in srgb, var(--danger-color), transparent 80%);
        color: var(--danger-color);
    }
}