@use '../../../styles/mixins.scss' as m;

.label {
    display: flex;
    gap: 8px;

    &.horizontal {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &.vertical {
        flex-direction: column;
    }
}

.label-box {
    display: flex;
    justify-content: space-between;
}

span.required-mark {
    color: red;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;

    & > * {
        flex-grow: 1;
    }
}

span.error {
    @include m.error-block;
    font-size: 0.75rem;
}