.label {
    display: flex;
    gap: 8px;

    &.horizontal {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &.vertical {
        flex-direction: column;
    }
}

.label-box {
    display: flex;
    justify-content: space-between;
}

span.required-mark {
    color: red;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 6px;

    & > * {
        flex-grow: 1;
    }
}

span.error {
    font-size: 0.875rem;
    font-style: italic;
    color: red;
}